# Mnemosyne .mailmap
# Maps old commit author names/emails to canonical form
# See: https://git-scm.com/docs/gitmailmap

Abdias J <1641797+AxDSan@users.noreply.github.com> Abdias J <1641797+AxDSan@users.noreply.github.com>
Abdias J <1641797+AxDSan@users.noreply.github.com> Abdias Joel <1641797+AxDSan@users.noreply.github.com>
Abdias J <1641797+AxDSan@users.noreply.github.com> Abdias J Moya Perez <1641797+AxDSan@users.noreply.github.com>
Abdias J <1641797+AxDSan@users.noreply.github.com> Abdias Joel Moya Perez <1641797+AxDSan@users.noreply.github.com>
Abdias J <1641797+AxDSan@users.noreply.github.com> AJ Moya <1641797+AxDSan@users.noreply.github.com>
